
    .grid-item img,.grid-item {
      width: 230px;

    }
    .row {
       grid-gap:5px; 
      display: grid;
      grid-template-columns: repeat(5,1fr) 
      /* background-color: #f8f8f8;     */
    }
  .like-dislike-button-container
    {
      padding:0px 40px
  }
  .title
  { 
    text-align:center;
  }
.dislike-button
{
 float:right; 
}